*{
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
}

nav{
  background-color: burlywood;
  text-align: center;
  padding: 10px;

}

.container{
  background-color: antiquewhite;
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax;
  box-sizing: border-box;

}
.container > h1{
  text-align: center;
}
.container > form {
  display: flex;
  flex-direction: column;
  
}
.container > form > input,textarea,button{
padding: 10px;
border: 1px solid rgba(0,0,0,0.214);
border-radius: 5px;
margin: 5px;
font-size: 1.2rem;
}
button {
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.797);
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

.task{
  display: flex;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin: 20px 0; 
}
.task span{
  color: rgba(0, 0, 0, 0.68);
}
.task > div {
  width: 100%;
}
.task button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;

}